<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Editorial_Porfido.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=200.69.137.167,11333;Persist Security Info=True;Password=BDG13_5193;User ID=BD3K6G13_2021;Initial Catalog=BD3K6G13_2021"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>